<div class="container-main">
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Angular App By Chetan</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" (click)="userLogout()" aria-label="Example icon-button with share icon">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      
    </mat-toolbar>

    <mat-drawer-container class="sidenav-container">
        <mat-drawer #drawer mode="side" class="p-3">
            <button routerLink="'/home/homeChildTest'" mat-icon-button class="example-icon" >
                <mat-icon>home</mat-icon>
            </button><br>
            <button mat-icon-button class="example-icon" >
                <mat-icon>share</mat-icon>
            </button><br>
            <button mat-icon-button class="example-icon" >
                <mat-icon>info</mat-icon>
            </button><br>
            <button mat-icon-button class="example-icon" >
                <mat-icon>call</mat-icon>
            </button>
        </mat-drawer>
        <mat-drawer-content class="chetan">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

